@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'font-awesome';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

.top-bar, .nav, .menu, .blog-header {
		a {
        color: $white !important;
		}
		a:hover {
        color: $primary-color !important;
		}
		a.button:hover {
        color: $white !important;
		}
}

.top-bar-right {
    letter-spacing: 0.1rem;
}

a.permalink, a.permalink:hover, a.permalink:visited {
		color: $light-gray !important;
}


// page header elements
.flex-container {
		display: flex;
		.flex-item {
				padding-right: 1rem;
		}
}

.site-logo {
		height: 32px;
}

.index-header {
		text-align: center;
}

// center all font-awesome icons
#features {
  [class^="fa-"], [class*="fa-"] {
	  display: inline-block;
		width: 100%;
		text-align: center;
  }
}

.blog-post {
		.post-meta {
				font-size: $small-font-size;
        margin-bottom: 2rem;
				* {
						display: inline-block;
				}

		}
}

.download-icons {
		margin-top: 1rem;
		margin-bottom: 1rem;
}

.all-downloads {
		margin-top: 0.5rem;
		text-align: center;
}

.sidebar {
		ul {
				list-style-type: none;
				margin: 0;
		}
		img {
				text-align: center;
		}
}

.category-pages {
		h5 {
				text-transform: capitalize;
		}
		ul {
				list-style-type: none;
				margin: 0;
		}
}

// news comments
.legacy-comments {
		border-top: solid 2px $primary-color;
		padding-top: 1em;
		.comment, .comment-published {
				.title {
						font-size: 1.2rem;
				}
				.submitted {
						font-size: 0.8rem;
						padding-bottom: 0.25rem;
				}
				.links, .links * {
						display: none;
				}
		}
}

// the footer
.blog-footer {
		text-align: center;
		margin-top: 2rem;
		padding-top: 2rem;
		background-color: $primary-color;
        background-color: $kde-blue;
		color: $white;
		a {
				color: $white;
				text-decoration: underline;
		}
		ul {
				list-style-type: none;
				margin-left: 0;
				padding-left: 0;
		}

        .row.full-width {
            a {
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        }

        .pixls-footer {
            text-decoration: none;
            font-weight: bold;
        }
        .pixls-footer:hover {
            text-decoration: underline;
        }
}

// the header
.blog-header {
    background-color: rgba(44,62,80,.5);
    margin-bottom: 3rem;
    box-shadow: 0 -3px 9px 3px rgba(0,0,0,0.5);
}

.blog-header .flex-container {
    flex-direction: column;
    text-align: center;
}

#digikam-logo img {
    margin-top: 2rem;
    height: 175px;
}

#digikam-title h1 {
    margin-bottom: 0;
    font-size: 3rem;
}

#digikam-download .button.large {
    box-shadow: 0 4px 5px -2.5px rgba(0,0,0,0.5);
}

@media( min-width: 40em ){
    .blog-header .flex-container {
        flex-direction: row;
        text-align: initial;
    }
    #digikam-logo img {
        position: absolute;
        top: 0px;
    }
    #digikam-title {
        margin-left: 175px;
        flex-grow: 1;
    }
    #digikam-download {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

pre {
    color: $light-gray;
    background-color: $black;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #666;
    white-space: pre;
    font-family: consolas, "Liberation Mono", Courier, monospace;
    font-size: 0.8em;
    padding: 0.5em;
    margin-bottom: 1rem;
}

pre code {
    border: none;
    white-space: pre;
    padding: 0;
    background-color: initial;
    color: inherit;
}

h3+h4, h4+h5, h5+h6 {
    margin-top: -$header-margin-bottom;
}

h3, h4, h5, h6 {
    margin-top: 2rem;
}

main section {
    margin-bottom: 3rem;
}

#features .row {
    margin-bottom: 3rem;
}

/* style the hr element */
hr {
	border-top: 1px solid $medium-gray;
}

/* Keep carousel images no bigger than their largest size
/* ---------------------------------------------------- */

.orbit {
    max-width: 1024px;
    margin: 0 auto;
}
.orbit-caption {
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%), -2px -2px 2px black, -2px 2px 2px black, 2px -2px 2px black;
}

/* Downloads page links and hash links */
p.sumtxt {
    line-height: 1.2rem;
}
.sumtxt a {
    color: #0073d9;
}
.dl-links {
    font-size: 1.5rem;
}
.download-icons:hover {
    color: white;
}

/* Make tables more readable */
table {
    background-color: $light-gray;
    thead, {
	background-color: $dark-gray;
	color: $light-gray;
    }
    tbody {
	tr:nth-child(odd) {
	    background: lighten($dark-gray, 2%);
	}
	tr:nth-child(even) {
	    background: lighten($dark-gray, 7%);
	}
    }
}
