{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}


<article class="blog-post">
		<div>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" title="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .Date.Format $dateFormat }}
        </time>
		</div>
    <h1>
				{{ .Title | markdownify }}
    </h1>

    <div class="author">
        {{ i18n "by" }} {{ .Params.author | default .Site.Params.author }}
    </div>

    <div class="post-meta">
        {{ if (.Params.categories) }}
				<i class="fa fa-folder"></i>
        <div class="categories">
            {{ partial "meta-categories.html" . }}
        </div>
        {{ end }}
        {{ if (.Params.tags) }}
				<i class="fa fa-tags"></i>
        <div class="tags">
            {{ partial "meta-tags.html" . }}
        </div>
        {{ end }}
        {{ if not .Site.Params.sharingicons.hide }}
				<i class="fa fa-share-square"></i>
        <div class="social">
            {{ partial "sharing-icons.html" . }}
        </div>
        {{ end }}
    </div>

		{{ .Content }}

    {{ if .IsTranslated }}
    <h4>{{ i18n "translations" }}</h4>
    <ul>
        {{ range .Translations }}
        <li><a href="{{ .Permalink }}">
            {{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}
        </a></li>
        {{ end }}
    </ul>
      {{ end }}
      <hr>
			<div id='discourse-comments'></div>
  </article>


	<script type="text/javascript">
	 DiscourseEmbed = { discourseUrl: "https://discuss.pixls.us/",
         discourseEmbedUrl: {{ printf "https://www.digikam.org%s" .RelPermalink }},
         discourseEmbedClass: "digikam" };

	 (function() {
			 var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
			 d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
			 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
	 })();
	</script>

{{ end }}
