<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    {{ partial "head-meta.html" . }}
  </head>
  <body>
        {{ partial "nav.html" . }}
        {{ partial "page-header.html" . }}
    <main>
            <!-- This is the guts of this template -->

            <section id='news'>
                <div class="row" id="content">
                    {{ $num_recent_posts := (index .Site.Params.sidebar "num_recent_posts" | default 2) }}
                    <h2 class="index-header">{{ i18n "latestNews" }}</h2>
                    <div>
                        {{ range first $num_recent_posts (where .Site.Pages "Type" "news") }}
                        <div class="large-6 medium-6 small-12 columns">
                            <h3>
                                <a href="{{.RelPermalink}}">
                                    {{.Title | markdownify }}
                                </a>
                            </h3>
                            <p>
                                <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" title="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                                    {{ .Date.Format "Mon Jan 2, 2006" }}
                                </time>
                                //
                                <span>
                                    {{ i18n "by" }} {{ .Params.author | default .Site.Params.author }}
                                </span>
                            </p>
                            <p>
                                {{ .Summary | markdownify }}
                            </p>
                        </div>
                        {{ end }}
                    </div>
                    <!-- {{ partial "sidebar.html" . }} -->
                </div>
            </section>

            <section id='screenshots'>
                <div class="row columns">
                    <h2 class="index-header">{{ i18n "screenshots" }}</h2>

                    <div class="orbit" role="region" aria-label="Screenshots of digiKam in action." data-orbit>
                      <div class="orbit-wrapper">
                        <div class="orbit-controls">
                          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                          <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                        </div>
                        <ul class="orbit-container">

							{{ range .Site.Data.carousel }}
								{{ partial "carousel.html" . }}
							{{ end }}

                        </ul>
                      </div>
                      <nav class="orbit-bullets">
							{{ range $index, $element := $.Site.Data.carousel }}
								{{ partial "carousel-buttons.html" (dict "idx" $index "data" $element) }}
							{{ end }}
                      </nav>
                    </div>

                    <!--
                    <p>
                        <img src="/img/screenshot-frontpage.jpg" width='1170' height='780' align="middle">
                    </p>
                    -->
                </div>
            </section>


            <section id='features'>
              <div class="row text-center">
                <h2 class="index-header">{{ i18n "features" }}</h2>
                <div class="large-6 medium-6 columns">
                  <i class="fa fa-picture-o fa-5x"></i>
                  <h3 class="index-header">{{ i18n "largeCollections" }}</h3>
                  <p>{{ i18n "largeCollectionsBody" }}</p>
                </div>
                <div class="large-6 medium-6 columns">
                  <i class="fa fa-pencil fa-5x"></i>
                  <h3 class="index-header">{{ i18n "efficientEditing" }}</h3>
                  <p>{{ i18n "efficientEditingBody" }}</p>
                </div>
              </div>
              <div class="row text-center">
                <div class="large-6 medium-6 columns">
                  <i class="fa fa-file-text-o fa-5x"></i>
                  <h3 class="index-header">{{ i18n "openMetadata" }}</h3>
                  <p>{{ i18n "openMetadataBody" }}</p>
                </div>
                <div class="large-6 medium-6 columns">
                  <i class="fa fa-code fa-5x"></i>
                  <h3 class="index-header">{{ i18n "freeSoftware" }}</h3>
                  <p>{{ i18n "freeSoftwareBody" }}</p>
                </div>
              </div>
            </section>

			<!-- <div class="row"> -->
			<!-- 	<div class="large-4 medium-4 columns"> -->
			<!-- 		<h3>{{ i18n "recipesBookSidebar" }}</h3> -->
			<!-- 		<p> -->
			<!-- 			<a href="#"> -->
			<!-- 				<img src="http://i.imgur.com/BMegIrE.png"> -->
			<!-- 			</a> -->
			<!-- 		</p> -->
			<!-- 	</div> -->
			<!-- 	<div class="large-4 medium-4 columns"> -->
			<!-- 		<h3>{{ i18n "donateTitleSidbar" }}</h3> -->
			<!-- 		<p><a href="#">{{ i18n "donateBodySidebar" }}</a></p> -->
			<!-- 	</div> -->
			<!-- 	<div class="large-4 medium-4 columns"> -->
			<!-- 		{{ with .Site.Menus.sidebar }} -->
			<!-- 		<h3>{{ i18n "links" }}</h3> -->
			<!-- 		<ul> -->
			<!-- 			{{ range . }} -->
			<!-- 			<li> -->
			<!-- 				<a href="{{ .URL | absURL }}"> -->
			<!-- 					{{ .Name }} -->
			<!-- 				</a> -->
			<!-- 			</li> -->
			<!-- 			{{ end }} -->
			<!-- 		</ul> -->
			<!-- 		{{ end }} -->
			<!-- 	</div> -->
			<!-- </div> -->
			<!-- End of the template guts -->
    </main>
		{{ partial "page-footer.html" .}}
		<foot>
			<script src="{{ .Site.BaseURL }}js/app.js"></script>
		</foot>
  </body>
</html>
