<div class="row text-center">
<div class="large-3 medium-3 columns download-icons">
	<i class="fa fa-linux fa-4x"></i>
	<h3 class="index-header">Linux Intel AppImage (glibc >= 2.31)</h3>

    {{ with .Site.Data.release.appimage }}
    <p class='dl-links'>
		<a title="Download digiKam {{ $.Site.Data.release.version }} 64-bits AppImage for Linux Intel (glibc >= 2.31)" href="https://download.kde.org/stable/digikam/{{ .b64.file }}">64-bits</a> 
	</p>
    {{ end }}
</div>
<div class="large-3 medium-3 columns download-icons">
	<i class="fa fa-windows fa-4x"></i>
	<h3 class="index-header">Windows Intel 10 or later</h3>

    {{ with .Site.Data.release.win }}
	<p class='dl-links'>
        <a title="Download digiKam {{ $.Site.Data.release.version }} 64-bits for Windows Intel version 10 or later" href="https://download.kde.org/stable/digikam/{{ .b64.file }}">64-bits</a>
	</p>
	{{ end }}
</div>
<div class="large-3 medium-3 columns download-icons">
	<i class="fa fa-apple fa-4x"></i>
	<h3 class="index-header">macOS Silicon 11.3 or later</h3>

    {{ with .Site.Data.release.macossilicon }}
		<p class='dl-links'>
            <a title="Download digiKam {{ $.Site.Data.release.version }} 64-bits for macOS Silicon version 11.3 or later" href="https://download.kde.org/stable/digikam/{{ .b64.file }}">64-bits</a> 
        </p>
		{{ end }}
</div>
<div class="large-3 medium-3 columns download-icons">
	<i class="fa fa-apple fa-4x"></i>
	<h3 class="index-header">macOS Intel 10.15 or later</h3>

    {{ with .Site.Data.release.macosintel }}
		<p class='dl-links'>
            <a title="Download digiKam {{ $.Site.Data.release.version }} 64-bits for macOS Intel version 10.15 or later" href="https://download.kde.org/stable/digikam/{{ .b64.file }}">64-bits</a> 
        </p>
		{{ end }}
</div>
</div>

<div class="row">
	<div class="large-12 columns all-downloads">
		<p class="dl-links">
			<p><a href="http://download.kde.org/stable/digikam/">See all downloads!</a></p>
		</p>
	</div>
</div>
