<header class="blog-header">

    <div class="row columns">
        <div class="flex-container">
            <div class="flex-item" id='digikam-logo'>
                <a href="{{ .Site.BaseURL }}" rel="home" title="digiKam Home">
                <img src="/img/digikam_oxygen.svg">
                </a>
            </div>
            <div class="flex-item" id='digikam-title'>
                <h1>
                    <a href="{{ .Site.BaseURL }}" rel="home">{{ .Site.Title | safeHTML }}</a>
                </h1>
                <p>
                    {{ i18n "siteDescription" | markdownify }}
                </p>
            </div>
            <div class="flex-item" id='digikam-download'>
              <a href="/download/" class="button large">
								<i class="fa fa-download"></i>
                <span>{{ i18n "download" }}</span>
                </a>
            </div>
        </div>

    </div>

</header>
